.b-card-wrap {
    width: 70%;
    padding: 1.5rem;
    position: relative;
    background: linear-gradient(to right, rgb(255, 38, 0), rgb(255, 196, 0));
    padding: 3px;
    border-radius: 20px;
    min-width: 600px;
  }
  
.b-card{    
    background-color: #1f242e;
    border-radius: 18px;
    padding: 3.5rem;
    display: flex;

    max-height: 800px;
}

.headshot-wrapper{
    width: 100%;
    align-items: center;
    text-align: center;
}

.my-face{
    margin: 1.5rem;
    width: 80%;
    border: 3px solid white; 
    border-radius: 10px;
}

.left-side{
    width: 70%;
    align-items: left;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-side{
    width: 30%;
    align-items: right;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.links-array{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;

}

.logo-container {
    width: 100%;
}

.logo{
    width: 65%;
}

.ivey-insig{
    padding: 2rem;
    width:60%;
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background-image: linear-gradient(to right, rgb(255, 38, 0), rgb(255, 196, 0));
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    font-size: 6vw;

    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    color: white;
    font-size: 2vw;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    margin-top: 4px;
    font-size: 1.1vw;
}

.subtitles {
    margin-top: 2px;
    margin-bottom: 2px;
}