.header-panel-wrap{
    width: 70%;
    padding: 1.5rem;
    position: relative;
    background: linear-gradient(to right, rgb(34, 236, 11), rgb(22, 114, 234));
    padding: 3px;
    border-radius: 20px;
  }
  
.header-panel{    
    min-height: 200px;
    background-color: #1f242e;
    border-radius: 18px;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.gradient-text-panel {
    /* Fallback: Set a background color. */
    background-color: red;
    
    /* Create the gradient. */
    background: linear-gradient(to right, rgb(34, 236, 11), rgb(22, 114, 234));
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);

    /*border: 1px dotted white*/
}

.project-cell{
    padding: 10px;
    /*border: 1px dotted blue;*/
    text-align: left;
}

.project-cell-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.project-titles{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
}

.logo-border :before{
    position: relative;
}

.logo-border{
    position: relative;
    height: 100%;
    padding: 2%;
    margin-right: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.company-logo{
    width: 7vw;
    height: 7vw;
    object-fit: contain;
}